.RowGlo2 {
  margin-left: 3cm;
}

.RowGlo {
  background-color: white;
}

.card {
  margin-top: 3cm;
  border-left-width: thick;
  border-left-color: #206489;
  border-bottom: hidden;
  border-right: hidden;
  border-top: hidden;
}

.Rowtext {
  margin-top: 2cm;
  margin-left: 1cm;
}
