.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout-2 {
  height: 100vh;
}
.content {
  overflow: initial;
  display: flex;
  flex-direction: column;
}

.children {
  display: flex;
  flex: 1;
  flex-direction: column;
  //padding: 24px;
  background: #ffffff;
  min-height: 360px;
}

.ant-layout-sider-children {
  display: flex;
}
